In [71]:
import numpy as np
import pandas as pd
from sklearn import feature_extraction

In [41]:
all_lines=[
    "About the bird,the bird,bird bird bird.",
    "You heard about the bird.",
    "The bird is the word."
]

## One-Hot

In [42]:
onehot=feature_extraction.text.CountVectorizer().fit(all_lines)
## x 是稀疏矩阵
vec=onehot.transform(all_lines)
devec=onehot.inverse_transform(vec)
print(devec)
print(vec)

[array(['about', 'bird', 'the'], dtype='<U5'), array(['about', 'bird', 'heard', 'the', 'you'], dtype='<U5'), array(['bird', 'is', 'the', 'word'], dtype='<U5')]
  (0, 0)	1
  (0, 1)	5
  (0, 4)	2
  (1, 0)	1
  (1, 1)	1
  (1, 2)	1
  (1, 4)	1
  (1, 6)	1
  (2, 1)	1
  (2, 3)	1
  (2, 4)	2
  (2, 5)	1

## TF

In [43]:
tf=feature_extraction.text.TfidfVectorizer(use_idf=False).fit(all_lines)
## x 是稀疏矩阵
vec=tf.transform(all_lines)
devec=tf.inverse_transform(vec)
print(devec)
print(vec)

[array(['about', 'bird', 'the'], dtype='<U5'), array(['about', 'bird', 'heard', 'the', 'you'], dtype='<U5'), array(['bird', 'is', 'the', 'word'], dtype='<U5')]
  (0, 0)	0.18257418583505536
  (0, 1)	0.9128709291752769
  (0, 4)	0.3651483716701107
  (1, 0)	0.4472135954999579
  (1, 1)	0.4472135954999579
  (1, 2)	0.4472135954999579
  (1, 4)	0.4472135954999579
  (1, 6)	0.4472135954999579
  (2, 1)	0.3779644730092272
  (2, 3)	0.3779644730092272
  (2, 4)	0.7559289460184544
  (2, 5)	0.3779644730092272

## TF-IDF

In [45]:
tf=feature_extraction.text.TfidfVectorizer(use_idf=True).fit(all_lines)
## x 是稀疏矩阵
vec=tf.transform(all_lines)
devec=tf.inverse_transform(vec)
print(devec)
print(vec)

[array(['the', 'bird', 'abut'], dtype='<U5'), array(['you', 'the', 'heaed', 'bird', 'about'], dtype='<U5'), array(['word', 'the', 'is', 'bird'], dtype='<U5')]
  (0, 5)	0.35429182130313575
  (0, 2)	0.8857295532578393
  (0, 1)	0.29993409916742614
  (1, 7)	0.5200400832078022
  (1, 5)	0.3071440505460478
  (1, 3)	0.5200400832078022
  (1, 2)	0.3071440505460478
  (1, 0)	0.5200400832078022
  (2, 6)	0.5168019428381698
  (2, 5)	0.6104631053601103
  (2, 4)	0.5168019428381698
  (2, 2)	0.30523155268005514

## PLSA
sklearn 使用的是online variational Bayes algorithm求解PLSA

下面是EM算法求解

In [73]:
df=pd.read_csv("./data/18_3.csv",index_col=0)
df

           T1  T2  T3  T4  T5  T6  T7  T8  T9
book        0   0   1   1   0   0   0   0   0
dads        0   0   0   0   0   1   0   0   1
dummies     0   1   0   0   0   0   0   1   0
estate      0   0   0   0   0   0   1   0   1
guide       1   0   0   0   0   1   0   0   0
investing   1   1   1   1   1   1   1   1   1
market      1   0   1   0   0   0   0   0   0
real        0   0   0   0   0   0   1   0   1
rich        0   0   0   0   0   2   0   0   1
stock       1   0   1   0   0   0   0   1   0
value       0   0   0   1   1   0   0   0   0

假定：
- 认为每个文本出现概率相同

In [ ]:
k=3
m,n=df.shape
p_wz=(1/m)*np.ones((m,k))
p_zd=(1/k)*np.ones((k,n))
maxiter=1000
for k in range(maxiter):
    # E step
    pz_wd=
    # M step